@import "variables.scss";

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: $white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding-inline: 1em;

  @media screen and (min-width: $tablet) {
    padding-inline: 1.25em;
  }

  @media screen and (min-width: $desktop) and (max-width: $desktop-bigger) {
    padding-inline: 2em;
  }
}

.section-pd {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  &--mod {
    padding-top: 80px;
    padding-bottom: 80px;

    @media screen and (min-width: $tablet) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}

.social {
  @include flex(flex-start, center, row);
  column-gap: 32px;
}

.control {
  &-panel {
    max-width: 1262px;

    margin: 60px auto 0px;
    @include flex(center, center);

    @media screen and (min-width: $tablet) {
      @include flex(space-between, center);
    }
  }
}

.cub {
  width: 20px;
  height: 20px;
}
.dots {
  cursor: pointer;
  @include flex(flex-start, center);
  column-gap: 32px;
}

.buttons {
  display: none;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    @include flex(flex-start, center);
    column-gap: 12px;
  }
}

.button {
  background-color: $white;
  color: $black;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.7s;

  &:hover {
    scale: 1.2;
  }

  &:focus {
    box-shadow: 9px 7px 32px 0px $white;
  }

  &:active {
    background-color: $black;
    color: $white;
  }
}
