@mixin text(
  $font-size: inherit,
  $line-heigth: inherit,
  $font-weight: inherit,
  $color: inherit
) {
  font-size: $font-size;
  line-height: $line-heigth;
  font-weight: $font-weight;
  color: $color;
}

@mixin flex($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;

  align-items: $align;

  justify-content: $justify;

  flex-direction: $direction;
}

@mixin pseudoElement($position: static, $side: after, $content: "") {
  @if ($position == absolute) {
    position: relative;
  }

  &::#{$side} {
    content: $content;
    position: $position;

    @content;
  }
}
