@import "fonts.scss";
@import "mixins.scss";
@import "common.scss";
@import "variables.scss";

body {
  font-family: "Rubik", sans-serif;
}

.text {
  font-family: "Ubuntu", sans-serif;
  font-size: 29px;
  line-height: 36px;
  font-weight: 500;
  color: $grey;
}
