.about {
  &-wrapper {
  }

  &__title {
    @include text(2em, 38px, 400, $black);
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
      @include text(2.25em, 43px);
      text-align: center;
    }
  }
}

.reviews-link {
  display: block;

  & img {
    width: 100%;
    height: 200px;
    object-fit: cover;

    @media screen and (min-width: $tablet) {
      height: 715px;
    }
  }
}
