.portfolio {
  &-wrapper {
    .section-title {
      margin-bottom: 60px;
    }
  }

  &-filter {
    @include flex(flex-start, flex-start, column);
    row-gap: 24px;
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
      @include flex(center, center);
      column-gap: 24px;
    }

    &__item {
      position: relative;
      @include flex(flex-start, center);
      column-gap: 12px;

      @media screen and (min-width: $tablet) {
        column-gap: 24px;
      }

      &::before {
        content: "";
        display: block;
        width: 8px;
        height: 2px;
        background-color: $black;
      }

      @media screen and (min-width: $tablet) {
        &:nth-child(1) {
          &::before {
            display: none;
          }
        }
      }
    }

    &__btn {
      @include text(0.875em, 17px, 400, $black);
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      @media screen and (min-width: $tablet) {
        @include text(1.125em, 21px);
      }
    }

    &__btn.active {
      @include text(0.875em, 17px, 600, $black);
    }
  }

  &-gallary {
    @include flex(center, stretch, column);
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      height: 1082px;
      gap: 32px;
    }

    &__item {
      height: 200px;
      @media screen and (min-width: $desktop) {
        max-width: calc(33% - 18px);
      }

      @media screen and (min-width: 475px) and (max-width: $desktop) {
        height: 520px;
      }

      @media screen and (min-width: $desktop) {
        &:nth-child(1) {
          height: 525px;
        }

        &:nth-child(2) {
          height: 525px;
        }

        &:nth-child(3) {
          height: 638px;
        }

        &:nth-child(4) {
          height: 412px;
        }

        &:nth-child(5) {
          height: 419px;
        }

        &:nth-child(6) {
          height: 631px;
        }
      }
    }

    &__item:not(:last-child) {
      margin-bottom: 32px;
      @media screen and (min-width: $desktop) {
        margin-bottom: 0px;
      }
    }

    &__text {
      position: absolute;
      bottom: 111px;
      left: 20px;
      @include text(1.5em, 28px, 400, $white);
    }

    &__item:nth-child(3) {
      position: relative;

      a {
        position: absolute;
        bottom: 40px;
        right: 20px;
        @include text(1.125em, 21px, 400, $white);
      }

      @media screen and (min-width: $tablet) {
        p,
        a {
          display: none;
        }
      }

      @media screen and (min-width: $desktop) {
        p,
        a {
          display: block;
        }

        p {
          bottom: 542px;
        }

        a {
          display: flex;
          bottom: 40px;
        }
      }
    }

    &__img {
      width: 100%;
      height: 100%;

      @media screen and (min-width: $desktop) {
        object-fit: cover;
      }
    }
  }
}
