.portfolio {
  &-wrapper {
    .section-title {
      margin-bottom: 60px;
    }
  }

  &-filter {
    @include flex(flex-start, flex-start, column);
    row-gap: 24px;
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
      @include flex(center, center);
      column-gap: 24px;
    }

    &__item {
      position: relative;
      @include flex(flex-start, center);
      column-gap: 12px;

      @media screen and (min-width: $tablet) {
        column-gap: 24px;
      }

      &::before {
        content: "";
        display: block;
        width: 8px;
        height: 2px;
        background-color: $black;
      }

      @media screen and (min-width: $tablet) {
        &:nth-child(1) {
          &::before {
            display: none;
          }
        }
      }
    }

    &__btn {
      @include text(0.875em, 17px, 400, $black);
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      @media screen and (min-width: $tablet) {
        @include text(1.125em, 21px);
      }
    }

    &__btn.active {
      @include text(0.875em, 17px, 600, $black);
    }
  }

  &-gallary {
    @media screen and (min-width: $desktop) {
      height: 1082px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      grid-gap: 32px;
    }

    &__item {
      height: 200px;

      @media screen and (min-width: 475px) and (max-width: $desktop) {
        height: 520px;
      }

      @media screen and (min-width: $desktop) {
        &:nth-child(1) {
          height: 525px;
          grid-area: 1 / 1 / 2 / 1;
        }

        &:nth-child(2) {
          height: 525px;
          grid-area: 2 / 1 / 2 / 1;
          transform: translateY(-113px);
        }

        &:nth-child(3) {
          height: 638px;
          grid-area: 1 / 2 / 2 / 2;
        }

        &:nth-child(4) {
          height: 412px;
          grid-area: 2 / 2 / 2 / 2;
        }

        &:nth-child(5) {
          height: 419px;
          grid-area: 1 / 3 / 1 / 3;
        }

        &:nth-child(6) {
          height: 631px;
          grid-area: 2 / 3 / 2 / 3;
          transform: translateY(-219px);
        }
      }
    }

    &__item:not(:last-child) {
      margin-bottom: 32px;
      @media screen and (min-width: $desktop) {
        margin-bottom: 0px;
      }
    }

    &__item:nth-child(3) {
      position: relative;

      p {
        position: absolute;
        bottom: 111px;
        left: 20px;
        @include text(1.5em, 28px, 400, $white);
      }
      a {
        position: absolute;
        bottom: 40px;
        right: 20px;
        @include text(1.125em, 21px, 400, $white);
      }

      @media screen and (min-width: $tablet) {
        p,
        a {
          display: none;
        }
      }

      @media screen and (min-width: $desktop) {
        p,
        a {
          display: block;
        }

        p {
          bottom: 542px;
        }

        a {
          display: flex;
          bottom: 40px;
        }
      }
    }

    &__img {
      width: 100%;
      height: 100%;
    }
  }
}
